<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	form{width: 800px;}
	.area{border : 1px solid tomato; width : 800px; height: 100px;}
</style>
</head>
<body>
	<h1>Practice1</h1>
	<form>
		<fieldset>
			<legend>취미</legend>
			<input type="checkbox" name="hobby" value="all"><label>전체선택</label>
			<input type="checkbox" name="hobby" value="total"><label>종합</label>
			<input type="checkbox" name="hobby" value="novel"><label>소설</label>
			<input type="checkbox" name='hobby' value="poem"><label>시/에세이</label>
			<input type="checkbox" name="hobby" value="economy"><label>경제/경영</label>
			<input type="checkbox" name="hobby" value="selfImprovement"><label>자기계발</label>
			<input type="checkbox" name="hobby" value="child"><label>아동</label><br>
			<input type="checkbox" name="hobby" value="travle"><label>여행</label>
			<input type="checkbox" name="hobby" value="science"><label>과학</label>
			<input type="checkbox" name="hobby" value="history"><label>역사/문화</label>
			<input type="checkbox" name="hobby" value="foreignLanguage"><label>외국어</label>
			<input type="checkbox" name="hobby" value="computer"><label>컴퓨터</label>
			<input type="checkbox" name="hobby" value="comic"><label>만화</label>
		</fieldset>
		<br>
		<input type="button" value="카테고리 선택">
		<div id="area1" class="area"></div>
	</form>
	
</body>
</html>